.navbar {
    width: 100%;
    height: 96px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1148px;
    margin: 0 auto;
    padding: 0 8px;
    display: flex;
    align-items: center;
}

.menuLinks {
    display: flex;
    margin-left: 130px;
    gap: 40px;
}

.link {
    text-decoration: none;
    font-size: 16px;
    color: var(--color-dark);
    position: relative;
    padding-bottom: 8px;
    transition: color 0.3s ease;
    font-family: var(--font-family);
    font-weight: 500;
}

/* Aktif link altındaki o yeşil nokta */
.link.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--color-light-green);
    border-radius: 50%;
}

.authButtons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: -120px;
}

/* LOGO STİLLERİ */
.logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-family);
    margin-right: 70px;
}

.logo span:first-child {
    color: var(--color-light-green);
}

.logo span:last-child {
    color: var(--color-dark);
}

/* 🌟 KULLANICI GİRİŞ YAPTIĞINDA GELECEK EK STİLLER (Tasarımı Bozmaz) */
.userProfile {
    display: flex;
    align-items: center;
    gap: 14px;
}

.userIconWrapper {
    background-color: var(--color-light-green);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userName {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-dark);
    font-family: var(--font-family);
}

/* Log out Butonunun Orijinal Figma Tasarımı */
.logoutBtn {
    background: none;
    border: 2px solid rgba(25, 26, 21, 0.2);
    padding: 14px 39px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-dark);
    font-family: var(--font-family);
    cursor: pointer;
    transition: all 0.3s ease;
}

.logoutBtn:hover {
    border: 1px solid rgba(25, 26, 21, 0.2) ;
    color: var(--color-light-green);
    background-color: rgba(231, 76, 60, 0.05);
}